@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #e2ded6;
}

.header {
  width: 100%;
  height: 15vh;
  background-color: #feffe3;
  border-bottom: 4px solid #bebdbd;
  display: flex;
  justify-content: space-between;
}

.icon {
  max-width: 100px;
  width: 25%;
  object-fit: contain;
}

.title {
  display: flex;
  flex-direction: column;
}

.title p {
  padding-left: 15px;
  margin-top: -15px;
  font-family: "Inter", sans-serif;
  opacity: 0.8;
  white-space: nowrap;
}

.navbar {
  display: flex;
  white-space: nowrap;
  margin-right: 25px;
}

.cart {
  width: 10rem;
  background-color: #ede38a;
  height: 60px;
  margin-top: 30px;
  border-radius: 43px;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}

.cart span {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 25px;
  font-family: "Inter", sans-serif;
}

.line {
  height: 45px;
  width: 5px;
  background-color: white;
  position: absolute;
  margin-top: 10px;
  margin-left: 50px;
  border-radius: 5px;
}

.wrapper_info {
  padding-top: 50px;
  text-align: center;
  font-family: "Inter", sans-serif;
}

.wrapper_info button {
  padding: 25px;
  margin-top: 20px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 25px;
  border-radius: 25px;
  background-color: #fdff9d;
  cursor: pointer;
}

.slide2 {
  width: 80%;
  max-width: 800px;
  height: 300px;
  background-size: cover;
  margin-top: 25px;
  border-radius: 25px;
}

.slides2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  display: grid;
  place-items: center;
  display: none;
}

.navlinks {
  margin-right: 25px;
}

.navlink {
  margin: 35px auto;
  width: 50px;
  height: 50px;
  margin-right: 8px;
  cursor: pointer;
}

.close {
  display: none;
}

.header_title {
  display: flex;
  flex-direction: row;
  padding: 15px;
}

.header_title h1 {
  padding: 15px;
  font-size: 200%;
  font-family: "Inter", sans-serif;
  background: #cf0000;
  background: linear-gradient(
    to right,
    #cf0000 0%,
    #ffff3b 50%,
    #00ff00 54%,
    #cf29cf 82%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
}

@media (max-height: 750px) {
  .header {
    height: 20vh;
  }
  .header_title {
    padding: 5px;
  }
}

@media (max-height: 420px) {
  .header {
    height: 35vh;
  }
  .header_title {
    padding: 15px;
  }
}

.open {
  display: none;
  cursor: pointer;
  position: absolute;
  right: 0;
}

@media (max-width: 250px) {
  .title p {
    display: none;
  }
  .header_title {
    margin-top: -25px;
  }
}

@media (max-width: 1000px) {
  .slide {
    display: none;
  }
  .slides2 {
    display: flex;
  }
}

@media (max-width: 700px) {
  .navbar {
    flex-direction: column;
    z-index: 5;
    background: #f8f4b4;
    align-items: center;
    position: absolute;
    right: 0;
    top: 5vh;
    border-radius: 15px;
    padding: 5px;
    display: none;
  }
  .close {
    display: block;
    cursor: pointer;
  }

  .open {
    margin: 75px;
    padding-top: 15px;
    display: block;
  }
  .navlinks {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
  }
  .navlink {
    margin-top: 0;
  }
  .cart {
    margin-top: 0;
  }
  .line {
    height: 10px;
    margin-top: 25px;
  }
}

@media (max-width: 500px) {
  .open {
    margin: 0;
    top: 45px;
  }
}

.wrapper {
  margin: 7vh auto;
  width: 80%;
  height: fit-content;
  padding-bottom: 50px;
  background-color: #fffeec;
  -webkit-box-shadow: 0px 0px 10px 7px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 10px 7px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 10px 7px rgba(34, 60, 80, 0.2);
  border-radius: 50px;
}

@media (max-width: 600px) {
  .wrapper {
    width: 100%;
    border-radius: 0px;
    margin-top: 0;
  }

  .slide2 {
    width: 100%;
    object-fit: fill;
  }
}
